{{define "login"}}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="views/css/style.css?<?php echo date('Ymd-Hi'); ?>" type="text/css">
    <link rel="icon" href="views\ico\太陽アイコン.svg" type="image/svg+xml">
</head>
<body>
    <header>
        <div class="rogo">
            <a href="/top"><h1>Golang Simple Twitter</h1></a>
        </div>
        <div class="menu">
            <ul class="link-group">
                <li class="link-item"><a href="/signin">ユーザ登録</a></li>
            </ul>
        </div>
    </header>
    <div class="errorMessage">
        <p>{{.errorMessage}}</p>
    </div>
    <div class="infoBox">
        <form action="/login" method="post">
            <p>ログイン</p>
            アカウント:　　　<input type="text" name="account"></br>
            パスワード:　　　<input type="password" name="password"></br>
            <input type="submit" value="ログイン" class="button">
        </form>
    </div>
</body>
</html>
{{end}} 