{{define "setting"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー編集</title>
    <link rel="stylesheet" href="views/css/style.css?<?php echo date('Ymd-1'); ?>" type="text/css">
    <link rel="icon" href="views\ico\太陽アイコン.svg" type="image/svg+xml">
</head>
<body>
    <header>
        <div class="rogo">
            <a href="/top"><h1>Golang Simple Twitter</h1></a>
        </div>
        <div class="menu">
            <ul class="link-group">
                <li class="link-item"><a href="/login">ログイン</a></li>
            </ul>
        </div>
    </header>
    <div class="errorMessage">
        {{range.errorMessages}}
            <p>{{.}}</p>
        {{end}}
    </div>
    <div class="infoBox">
        <form action="/setting" method="post">
            <p>ユーザ編集：{{.Name}}</p>
            アカウント:　　　　　<input type="text" name="account" value="{{.Account}}"><br>
            ユーザ名:　　　　　　<input type="text" name="name" value="{{.Name}}"><br>
            パスワード:　　　　　<input type="password" name="password"><br>
            パスワード（確認用）:<input type="password" name="repassword"><br>
            <input type="submit" value="更新" class="button">
        </form>
    </div>
    <div class="infoBox">
        <form action="/deleteUser" method="post">
            <p>アカウントを削除する</p>
            パスワード:　　　　　<input type="password" name="password"><br>
            <input type="submit" value="削除" class="button">
        </form>
    </div>

</body>
</html>
{{end}}