{{define "signin"}}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規ユーザー登録</title>
    <link rel="stylesheet" href="views/css/style.css?<?php echo date('Ymd-Hi'); ?>" type="text/css">
</head>
<body>
    <header>
        <div class="rogo">
            <a href="/top"><h1>Golang Simple Twitter</h1></a>
        </div>
        <div class="menu">
            <ul class="link-group">
                <li class="link-item"><a href="/login">ログイン</a></li>
            </ul>
        </div>
    </header>
    <div class="errorMessage">
        {{range.}}
            <p>{{.}}</p>
        {{end}}
    </div>
    <div class="infoBox">
        <form action="/signin" method="post">
            <p>ユーザー新規登録</p>
            アカウント:　　　　　<input type="text" name="account"><br>
            ユーザ名:　　　　　　<input type="text" name="name"><br>
            パスワード:　　　　　<input type="password" name="password"><br>
            パスワード（確認用）:<input type="password" name="repassword"><br>
            <input type="submit" value="サインイン" class="button">
        </form>
    </div>
</body>
</html>
{{end}}