{{define "top"}}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top画面（非ログイン状態）</title>
    <link rel="stylesheet" href="views/css/style.css?<?php echo date('Ymd-Hi'); ?>" type="text/css">
    <link rel="icon" href="views\ico\太陽アイコン.svg" type="image/svg+xml">
    <input type="hidden" id="tweetNum" value="{{.tweetNum}}">
</head>
<body>
    <header>
        <div class="rogo">
            <a href="/top"><h1>Golang Simple Twitter</h1></a>
        </div>
        <div class="menu">
            <ul class="link-group">
                <li class="link-item"><a href="/login">ログイン</a></li>
                <li class="link-item"><a href="/signin">ユーザ登録</a></li>
            </ul>
        </div>
    </header>

    <div class="errorMessage">
        <p>{{.errorMessage}}</p>
    </div>

    <div class="mainContents">
        {{range.tweetContents}}
        <div class ="box">
            <div class="tubuyaki">
                <p>@{{.Name}} <span>{{.CreatedDate}}</span></p>
                <p class="message">{{.Text}}</p>
                <div class="Icon">
                    <div class="likeIcon">
                        <input type="text" value="{{.LikeCount}}">
                        <input type="image" src="views\svg\heart.svg">
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>

</body>
</html>
{{end}}