{{define "tweet"}}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top画面（ログイン中）</title>
    <link rel="stylesheet" href="views/css/style.css?<?php echo date('Ymd-1'); ?>" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="icon" href="views\ico\太陽アイコン.svg" type="image/svg+xml">
    {{$i := .loginUser.ID}}
    <input type="hidden" id="tweetNum" value="{{.tweetNum}}">
</head>
<body>
    <header>
        <div class="rogo">
            <a href="/top"><h1>Golang Simple Twitter</h1></a>
        </div>
        <div class="menu">
            <ul class="link-group">
                <li class="link-item"><a href="/logout">ログアウト</a></li>
                <li class="link-item"><a href="/setting">ユーザー編集</a></li>
            </ul>
        </div>
    </header>
    <div class="errorMessage">
        {{range.errorMessages}}
            <p>{{.}}</p>
        {{end}}
    </div>

        <div class="tweetbox">
            <p>ツイートフォーム:　<span>{{.loginUser.Name}}</span></p>
            <form action="/top" method="POST">
                <textarea name="tubuyaki" maxlength="140"></textarea>
                <input type="submit" value="つぶやく" class="button">
            </form>
        </div>

        {{range.tweetContents}}
        <div class ="box">
            <div class="tubuyaki">
                <p>@{{.Name}} <span>{{.CreatedDate}}</span></p>
                <p class="message">{{.Text}}</p>
                <div class="Icon">
                    <div class="likeIcon">
                        <form action="/like" method="POST" id="likeform">
                            <input type="text" id="{{.ID}}likecnt" value="{{.LikeCount}}">
                            <input type="hidden" name="messageID" id="messageID" value="{{.ID}}">
                            <input type="hidden" name="likejudge" id="{{.ID}}likejudge" value="{{.LikeJudge}}">
                            <input type="image" id ="{{.ID}}IconBlue" src="views\svg\heart.svg">
                            <input type="image" id ="{{.ID}}IconRed" src="views\svg\heart red.svg">
                        </form>
                    </div>
                </div>
                <div class="Icon">
                    {{ if(eq .UserID $i)}}
                        <div class="deleteIcon">
                            <form action="/deletemMssage" method="POST">
                                <input type="image" src="views\svg\deleteIcon.svg">
                                <input type="hidden" value="{{.ID}}" name="messageID">
                            </form>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
        {{end}}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="views\js\like.js"></script>
        
</body>
</html>
{{end}}