/*全ページ共通*/
body {
  background: linear-gradient(-120deg,rgb(241 137 201 / 78%),rgb(90 225 237));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.errorMessage {
  margin-top:10%;
  font-size:2vmin;
  text-align:center;
  color:red;
}

/* ボタンスタイル */

.button {
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  font-size     : 2vmin;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 1vmin 2vmin;   /* 余白       */
  background    : rgba(255, 255, 255, 0.89);     /* 背景色     */
  color         : rgba(102, 102, 255, 0.92);     /* 文字色     */
  line-height   : 0.5vmin;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 1vmin solid rgba(255, 255, 255, 0.89);    /* 枠の指定 */
  border        : 0.5vmin solid #a8bfed;
}
  
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : rgba(255, 255, 255, 0.89);     /* 背景色     */
  background    : rgba(102, 102, 255, 0.92);     /* 文字色     */
}


/* ヘッダー */
header {
  position: fixed;
  background-color: #caf1f8ed;
  height: 10%;
  width: 100%;
  top:0;
  display:flex;
  align-items: center;
  z-index:500;
}

.rogo h1{
  color: #4fc8a3d1;
  font-size:4vmin;
  margin:2vmin;
}

.rogo a {
	text-decoration:none;
}

.menu {
 margin: 0 0 0 auto;
 margin-right:2vmin;
}

.link-group {
  margin-top:0;
}

.link-item {
  list-style: none;
  display: inline;
  float: right;
}

.link-item a {
  display: block;	
  padding: 1.3vmin;
  margin:1vmin;
  background: #FFF;
  border: solid 0.1vmin #6091d3;
  text-align:center;
  border-radius: 100%;
  font-weight: bold;
  font-size:0.5vmin;
  color:#4fc8a3d1;
  text-decoration:none;
}

.mainContents {
  margin-top:15vmin;
}

.box {
  margin: 5vmin 10vmin;
  padding: 1vmin;
  font-weight: bold;
  color: #4d4d4d;
  background: #FFF;
  border: solid 0.1vmin #6091d3;
  border-radius: 20px;
  width:auto;
  height:auto;
}

.tubuyaki {
  position:static;
  font-size:1vmin;
  margin: 1vmin;  
  text-align:left;
}

.message {
  display:inline-grid;
  width:85%;
  height:50%;
  margin:1vmin 0 vmin 0;
  word-break: break-all;
}

.infoBox {
  padding: 5vmin 5vmin 5vmin 5vmin;
  font-weight: bold;
  color: #4d4d4d;
  background: #FFF;
  border: solid 0.1vmin #6091d3;
  border-radius: 20px;
  margin:15vmin 30% 10% 30%;
}

.infoBox form {
  text-align:center;
  font-size:2vmin;
}

.infoBox input {
  font-size:1vmin;
  margin:1vmin
}

.infoBox input[type='text'],[type="password"]{
	box-sizing: border-box;
	padding: 0.4vmin;
	transition: 0.3s;
	color: #625757;
	border: 0.1vmin solid #1b2538;
	border-radius: 1vmin;
}

.infoBox input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 0.5vmin 0.25vmin rgba(218,60,65, .5);
}

.infoBox input[type='password']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 0.5vmin 0.25vmin rgba(218,60,65, .5);
}

.infoBox input.button {
  margin:5% 0 0 0%;
}

.tweetbox {
  margin: 5vmin 5vmin;
  padding: 3vmin;
  font-weight: bold;
  color: #4d4d4d;
  background: #afecb8bf;
  border: solid 0.1vmin #6091d3;
  border-radius: 20px;
}

.tweetbox textarea{
	width:85%;
	resize: none;
}

.tweetbox p {
	font-size:2vmin;
	font-family:"Comic Sans MS";
}

.tweetbox span {
  color: #f142d6;
}

.tweetbox input[type='submit'] {
    float:right;
    padding:2vmin 2vmin;
}

.Icon {
   display:inline;
   float:right;
   position:relative;
   margin-right:2%;
}

.deleteIcon input[type="image"]{
   display:block;
   width: 4vmin;
   height: 4vmin;
}

.likeIcon input[type="image"]{
  display:block;
  width: 4vmin;
  height: 4vmin;
}


.likeIcon input[type="text"]{
  display:block;
  float:right;
  width: 2vmin;
  height: 2vmin;
  font-size:1vmin;
  border:solid 0px;
}